---
import BaseLayout from "../layouts/BaseLayout.astro";
import ImageCard from "../components/ui/image-card";
---
<BaseLayout title="Hacktion">
  <main class="">
    <section class="flex flex-col items-stretch md:flex-row w-11/12 md:w-3/5 h-auto gap-y-3 md:gap-x-3 mx-auto">
      <div class="w-full md:w-1/2">
        <h2 class="text-6xl">Acerca de nosotros</h2>
        <p class="text-gray-500 font-normal">
          Hacktion es un hackathon hecha por la comunidad de Notion Campus Leaders en colaboración
          con muchas otras comunidades de desarrollo. <br>
          <br>
          Busca crear un espacio donde personas que van adentrando a la informática puedan
          experimentar su primer hackathon aprendiendo de la mano de grandes mentores y poniendo a
          prueba para poder resolver problemas de alto impacto
        </p>
      </div>

      <ImageCard
        className="w-2/5 h-auto mx-auto bg-[#00823A]"
        caption="Hacktion 2024 - Wizeline CDMX"
        imageUrl="/Hacktion/bbhacktion.jpg"
      ></ImageCard>
    </section>
  </main>
</BaseLayout>
