---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Button } from "@/components/ui/button";

import "../styles/global.css";
---
<BaseLayout>
    <h1>Hola con astro</h1>
    <Button>Hola</Button>
</BaseLayout>
