---
import { IconArrowRight } from "@tabler/icons-react";
---
<footer class="bg-[#040623] px-8 py-4" role="contentinfo">
	<div class="container flex flex-col md:flex-row justify-center items-center gap-4 md:gap-6 mx-auto">
		<div class="text-center md:text-left">
			<span class="text-white">Hecho por Binary Brains 💙.</span>
		</div>
		<a 
			href="https://github.com/binarybrains-upiicsa/Hacktion" 
			class="text-[#5DC1F4] font-medium flex items-center gap-1 hover:text-[#7dd1f7] transition-colors duration-200"
			aria-label="Visitar el repositorio de Binary Brains en GitHub"
			target="_blank"
			rel="noopener noreferrer"
		>
			Conócenos
			<IconArrowRight className="size-4" aria-hidden="true" />
		</a>
	</div>
</footer>
